<script src="https://raw.githubusercontent.com/elo80ka/django-dynamic-formset/master/src/jquery.formset.js"></script>

{% extends "polls/basic.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Polls Question</legend>
                {{ q_form|crispy }}

                {{ c_forms.management_form }}
                {% for c in c_forms %}
{#                    {{ c.id }}#}
{#                    {% for hidden in c.hidden_fields %}#}
{#                        {{ hidden }}#}
{#                    {% endfor %}#}
                <div class="inline {{ c_forms.prefix }}">
                  {{ c|crispy }}
                </div>
                {% endfor %}

            </fieldset>
        <script type="text/javascript">
            $(".inline.{{ c_forms.prefix }}").formset({
            prefix: "{{ c_forms.prefix }}",
            //formCssClass: 'dynamic-formset1',
            addText: 'Add Choice',
            deleteText: 'Remove Choice'
        });
        </script>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>

{% endblock content %}