

html {
    background-color: white;
    color: #1e1e1e;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.list-question ul{
    margin-top: 50px;
}

.list-question ul li{
    width: 60%;
    margin-bottom : 10px;
}
.navbar-nav {
    margin-left: auto;
    margin-right: 200px;
}

.content-section {
  background: #ffffff;
  padding: 50px 500px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

h2{
    display: block;
    width: 30%;
    margin: 0 auto;
    margin-top: 100px;
}

.text-muted{
    display: block;
    margin: 0 auto;
    text-align: center;

}

.text-grey{
    color:lightgrey !important;
}
.text-white{
    color:white;
}

.border-red{
    border:solid 1px red;
}

.margin-left-50{
    margin-left: 50px;
}